.cert {
  padding: 40px;
  margin: 20px auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  transition: transform 0.2s ease-in-out;
}

.cert h2 {
  color: #FF9800;
  font-family: "Playfair Display";
  text-align: center;
  font-size: 2.8rem;
  font-weight: 800;
  margin-bottom: 25px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* New Flex Container for Image and List */
.cert-content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.cert-image img {
  max-width: 400px;
  height: auto; /* Adjust height automatically */
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cert-list {
  flex: 1;
  max-width: 75%;
}

.cert ul {
  list-style-type: none;
  padding: 0;
}

.cert ul li {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #555;
  margin-bottom: 15px;
  padding-left: 30px;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.cert ul li::before {
  color: #ff8c00;
  content: "✔";
  position: absolute;
  left: 0;
  font-size: 1.5rem;
  top: 0;
}

/* Responsive Adjustments */
@media only screen and (max-width: 768px) {
  .cert {
    padding: 20px;
  }

  .cert h2 {
    font-size: 2rem;
  }

  .cert ul li {
    font-size: 1rem;
    padding-left: 25px;
  }

  .cert ul li::before {
    font-size: 1.2rem;
  }

  /* Stack the image and list vertically on smaller screens */
  .cert-content {
    flex-direction: column;
    align-items: center;
  }

  .cert-image {
    margin-bottom: 20px;
  }

  .cert-image img {
    max-width: 80%; /* Reduce the image width for smaller screens */
    height: auto;
  }

  .cert-list {
    max-width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .cert-image img {
    max-width: 100%; /* Further reduce the image width for very small screens */
  }

  .cert h2 {
    font-size: 1.8rem;
  }

  .cert ul li {
    font-size: 0.9rem;
  }
}
