.cert {
  padding: 40px;
  margin: 20px auto;
  /* background: linear-gradient(145deg, #f3f3f3, #e6e6e6); */
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  transition: transform 0.2s ease-in-out;
}

/* .cert:hover {
  transform: scale(1.02);
} */

.cert h2 {
  color: #ff8c00;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 800;
  margin-bottom: 25px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.cert ul {
  list-style-type: none;
  padding: 0;
}

.cert ul li {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #555;
  margin-bottom: 15px;
  padding-left: 30px;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.cert ul li::before {
  content: "✔"; /* Or any icon you'd like */
  color: #ff8c00;
  position: absolute;
  left: 0;
  font-size: 1.5rem;
  top: 0;
}

/* .cert ul li:hover {
  color: #333;
} */

@media only screen and (max-width: 768px) {
  .cert {
      padding: 20px;
  }

  .cert h2 {
      font-size: 2rem;
  }

  .cert ul li {
      font-size: 1rem;
      padding-left: 25px;
  }

  .cert ul li::before {
      font-size: 1.2rem;
  }
}
