.navbar {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 1px 3px -2px black;
  color: white;
  background-color: #ff3366;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo img {
  width: 150px;
  height: auto;
  margin: 0;
}

.nav-logo p {
  font-size: 38px;
  font-weight: 500;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  font-size: 20px;
  font-weight: 600;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.nav-menu li:hover, .nav-menu li.active {
  color: black;
}

.nav-menu li::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -3px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.9s ease-out;
}

.nav-menu li:hover::after, .nav-menu li.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.touch {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 45px;
  list-style: none;
  font-size: 20px;
  font-weight: 500;
}



@media (max-width: 1024px) {
  .nav-logo p {
    font-size: 28px;
  }

  .nav-menu {
    gap: 30px;
    font-size: 18px;
  }

  .touch {
    gap: 30px;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .nav-logo img {
    width: 120px;
  }

  .nav-logo p {
    font-size: 24px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
  }

  .touch {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .nav-logo img {
    width: 100px;
  }

  .nav-logo p {
    font-size: 20px;
  }

  .nav-menu {
    gap: 15px;
    font-size: 16px;
  }

  .touch {
    gap: 15px;
    font-size: 16px;
  }
}
