.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
  color: white;
  /* margin-bottom: 40px; */
  /* background-color: rgba(102, 66, 233, 0.467)23; */
  /* background: linear-gradient(360deg, #fde1ff, #e1ffea22 60%); */
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-logo img {
  width: 100px;
  height: auto;
  padding-right: -100px;
}
.nav-logo p {
  font-size: 38px;
  font-weight: 500;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  font-size: 20px;
  font-weight: 500;
}
.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}
.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: red;
}

.touch{
    display: flex;
    align-items: center;
    gap: 45px;
    list-style: none;
    font-size: 20px;
    font-weight: 500;
}