.App {
  text-align: center;
}

.motiv {
  color: black;
  font-family: 'Georgia', serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 80px;
  margin-top: 80px;


}

.motiv p {
  margin: 40px;
  line-height: 1.6;
  
}

.motiv hr {
  width: 70%;
  border: none;
  border-top: 1px solid black;
  margin: 0 auto; 
}





@media (max-width: 768px) {
  .motiv {
    font-size: 30px;
    margin-bottom: 50px;
  }
  
  .motiv p {
    margin: 20px;
  }

  .motiv hr {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .motiv {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .motiv p {
    margin: 10px;
  }

  .motiv hr {
    width: 90%;
  }
}