.App {
  text-align: center;
}

.motiv {
  color: white;
  font-family: 'Georgia', serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 100px;

}

.motiv p {
  margin: 40px;
  line-height: 1.6;
}

.motiv hr {
  width: 70%;
  border: none;
  border-top: 1px solid white;
  margin: 0 auto; 
}


